Package: com.ioscreatix.weathervane
Name: WeatherVane
Depends: mobilesubstrate
Version: 1.1.0
Architecture: iphoneos-arm
Description: Access Wifi Networks and Bluetooth Devices from the Control Center on iOS 11
Maintainer: iOS Creatix
Author: iOS Creatix
Section: Tweaks
